<%= stylesheet_link_tag 'registration' %>

<div class="pt-5" style='text-align: center'>
<h2 class="pt-5" style="font-size: 75px; color: black;"><strong><span style="color: #000000;">Реєстрація</span></strong></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">  
  <%= f.label :first_name, "Ім'я"%></br>    
      <%= f.text_field :first_name , autocomplete: "first name", class: 'aaa' %>
      
  </div>

  <div class="field">
      <%= f.label :last_name, "Прізвище"%></br>   
    <%= f.text_field :last_name , autocomplete: "last name", class: 'aaa'%>
  
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'aaa' %>
  </div>

  <div class="field">
    <%= f.label :password, "Пароль" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> символів мінімум)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'aaa' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation , "Підтвердження пароля"%><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'aaa' %>
  </div>
  <br>
  <%= f.select :role, User.roles.keys.to_a, :prompt => 'Вибрати тип юзера', class: 'nav-link dropdown-toggle' %>
  <div class="actions pt-3">
    <%= f.submit "Реєстрація", class: 'btn btn-success' %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>  