<div class="pt-5" style="text-align: left;">
  
  <h1 style="color: black;"><strong>Оформлення замовлення</strong></h1>
<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Предмет" %>: <nobr class="req">*</nobr></br>
    <%= form.select :category_id, options_from_collection_for_select(@subcategories, :id, :title)%>
  </div>
 
  <div class="field">
   <p>Назва роботи: <nobr class="req">*</nobr></p>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <p>Опис: <nobr class="req">*</nobr></p>
    <%= form.text_area :description, class: 'form-control', rows: "3" %>
  </div>
  <br>



  <div class="col-2">
  <div class="field">
    <p>Ціна: <nobr class="req">*</nobr></p>
    <%= form.text_field :price, class: 'form-control', placeholder: "вкажіть ціну в грн" %></br></br>
  </div>
  <div class="field">
    <p>Виконати до: <nobr class="req">*</nobr></p>
    <%= form.date_field :deadline %>
  </div>
  <br>
        <div class="field">
    <p>Вкласти файл: </p> 
    <%= form.file_field :additional_file, multiple: true %>
  </div>
</br>
  <div class="actions">
      <%= form.submit "Відправити",class: 'btn btn-success' %></br></br>
    </div>
</div>
<% end %>
</div>
<div style="height: 52px;">
</div> 
