<div class="container">
<div class="card shadow mb-3">

  <div class="card-body" style="background: #cccccc;">
		<p id="notice"><%= notice %></p>
		<p class="pt-5">
		<h1><%= @task.title %></h1>
			 <h5><%= @task.category.parent.title %> / <%= @task.category.title %></h5>
			<h6> Замовник: <%=link_to User.find(@task.author_id).email, profile_user_path(@task.author_id) , :style => 'text-decoration: none; color: #188753; font-weight: bold;'%></h6>
		</p>
		</p>

		<p>
		  <strong>Опис:</strong>
		  <%= @task.description %>
		</p>
		 
		<p>
		  <strong>Ціна:</strong>
		  <%= @task.price %>
		</p>
		<p>
		  <strong>Виконати до:</strong>
		  <%= @task.deadline %>
		</p>

		<% if @try_task and current_user.role == 'contractor'%>
		<%= link_to 'Виконати тестове завдання' %>
		<% end %>

		<% if @task.additional_file.present? %>
		<p>
		  <strong>Вкладені файли:</strong>
		  <% @task.additional_file.each do |additional_file|%>
		<%= link_to 'Завантажити' , rails_blob_path(additional_file, only_path: true),download: '' %>
		<%end%>
		</p>
		<% end %>
		 <% if @unpermitted and current_user.role == 'contractor'%>

		<% if !@try_task and current_user.role == 'contractor'%>
		<div><%= link_to 'Відправити пропозицію', new_comment_path(user_id: current_user, task_id: @task), method: :get, class: 'btn btn-success' %></div>
		<% end %>
			
		<% end %>
		<% if @allow_upload %>

		<%= link_to 'Завантажити відповідь', edit_task_path(@task), :class => 'btn btn-success', :style =>'text=text-decoration: none;'%>
		<br>
		<% end %>
		<% if current_user.id == @task.author_id and @completed_order.present? %>
		<div><%= link_to 'Оцінити виконання', new_review_path(user_id: current_user, task_id: @task, method: :get), :class => "btn btn-success"%></div>

		<% end %>
	</div>
</div>
 <div class="col-lg-6 sm-12">
   <%= render 'comments/comment_show' %>
   </div>
</div>